
<%- include('partials/header') -%>

<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Enpaz provides a simple way to help you understand and track eating habits.</h1>
        <h2 data-aos="fade-up" data-aos-delay="400"></h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <div align="center">
              <a href="/signup" class="btn btn-info float-left">Sign up</a>
            </div>
            
            <!-- <a href="/signup" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Sign Up</span>
              <i class="bi bi-arrow-right"></i>
            </a> -->
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="imgs/indexejsimg/foodillustration.jpg" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->
<hr class="featurette-divider">

<!-- <hr class="featurette-divider" id="topline"> -->
      <!-- <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading text-center">What is an eating disorder? </h2>
            <p class="lead text-center">An eating disorder is a serious mental illness characterized by highly distressing attitudes, beliefs and behaviors related to one’s food intake, body shape and weight. Eating disorders do not discriminate and affect people of all ages, races, ethnicities, genders, shapes and sizes.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" id="ladypic" src="imgs/indexejsimg/woman2.jpg" style="padding:40px" alt="ladysittingdown">
          </div>
        </div>
<hr class="featurette-divider"> -->

<!-- Two columns 
      <div class="modal-body row">
        <div class="col-md-6">
         <p>An eating disorder is a serious mental illness characterized by highly distressing attitudes, beliefs and behaviors related to one’s food intake, body shape and weight. Eating disorders do not discriminate and affect people of all ages, races, ethnicities, genders, shapes and sizes.</p>
        </div>
        <div class="col-md-6">
         second colum 
          <img src= "/indexejsimg/ladysittingdown.jpg" class="img-fluid" alt="ladysittingdown"/>
        </div>
      </div> -->


<!-- Three columns of text with icons -->
<div class="container marketing">
<div class="row">
  <div class="col-lg-4">
    <img class="center-block rounded-circle" src="imgs/indexejsimg/trackpic.png" alt="smiley pepper" width="140" height="140">
    <h2 class="text-center">Track foods</h2>
    <p class="text-center">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="rounded-circle center-block" src="imgs/indexejsimg/camerapic.png" alt="camera" width="140" height="140">
    <h2 class="text-center">Take pics</h2>
    <p class="text-center">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="rounded-circle center-block" src="imgs/indexejsimg/smileypic.jpg" alt="smiling face" width="140" height="140">
    <h2 class="text-center">Log Moods</h2>
    <p class="text-center">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
  </div><!-- /.col-lg-4 -->
</div>
</div>


<!-- last featurette -->

<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading text-center">How do I begin recovery from an eating disorder? </h2>
    <!-- <p class="lead text-center">Take this test to help find out if it's the right time to seek professional help.</p> -->
    <div align="center">
      <a href="https://screening.mhanational.org/screening-tools/eating-disorder/" class="btn btn-info pull-right">Learn More</a>
    </div>
    
  </div>
  <div class="col-md-5 order-md-1">
    <img class="featurette-image img-fluid mx-auto" src="imgs/indexejsimg/index4.png" alt="Generic placeholder image">
  </div>
</div>

<!-- <hr class="featurette-divider"> -->

<!-- Footer -->
<%- include('partials/footer') -%>
    

