<%- include('partials/header') -%>

    <!-- First Three columns -->
      <main class="my-5">
        <div class="container">
          <!--Section: Content-->
          <section class="text-center">
            <div class="row">
              <div class="col-lg-4 col-md-12 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://res.cloudinary.com/dgrd0ce7i/image/upload/v1668634166/100hours/630462415d524b2a51fd15684adbc05d_h7oylf.jpg" class="img-fluid" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Knowledge</h5>
                    <p class="card-text">
                      Recovery is possible. Learn more about how to get there.
                    </p>
                    <a href="https://breathelifehealingcenters.com/12-types-eating-disorders-explained/" class="btn btn-info">Learn More</a>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://res.cloudinary.com/dgrd0ce7i/image/upload/v1668634227/100hours/f9dc5b74b47980eaf857ba8455a34ec3_tjwx0p.png" class="img-fluid" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Treatment</h5>
                    <p class="card-text">
                      Treatment may look different for everyone but these may help along the way.
                    </p>
                    <a href="https://www.mayoclinic.org/diseases-conditions/eating-disorders/in-depth/eating-disorder-treatment/art-20046234" class="btn btn-info">Learn More</a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://res.cloudinary.com/dgrd0ce7i/image/upload/v1668634463/100hours/426cff226ad2d301c91c59c3c3786d2d_vb4caa.jpg" class="img-fluid" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Support</h5>
                    <p class="card-text">
                      You are not alone. Recovery doesn't have to be a solo journey.
                    </p>
                    <a href="https://www.allianceforeatingdisorders.com/eating-disorder-support-groups-and-programs/" class="btn btn-info">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          </main>

<!-- Last Three Columns -->
          <main class="my-5">
            <div class="container">
              <!--Section: Content-->
              <section class="text-center">
                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://res.cloudinary.com/dgrd0ce7i/image/upload/v1668632711/100hours/actualmanpic_agddbs.png" class="img-fluid img-rows" />
                        <!-- <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a> -->
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Stories of Recovery</h5>
                        <p class="card-text">
                          Young, professional,male - and living with an eating disorder
                        </p>
                        <a href="https://www.eatingdisorders.org.au/story/young-professional-male-and-living-with-an-eating-disorder/" class="btn btn-info">Read More</a>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://res.cloudinary.com/dgrd0ce7i/image/upload/v1668632578/100hours/actualsunpic_akgdd7.jpg" class="img-fluid img-rows" />
                        <!-- <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a> -->
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Stories of Recovery</h5>
                        <p class="card-text">
                          Giving Up on a Perfect Recovery Actually Helped Me Heal From My Eating Disorder
                        </p>
                        <a href="https://www.buzzfeednews.com/article/addybaird/eating-disorder-recovery-definition" class="btn btn-info">Read More</a>
                      </div>
                    </div>
                  </div>
    
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://res.cloudinary.com/dgrd0ce7i/image/upload/v1668632855/100hours/a1ff566f605ef1338856e763af743552_oq2432.jpg" class="img-fluid img-rows" />
                        <!-- <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a> -->
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Stories of Recovery</h5>
                        <p class="card-text">
                          My  Journey and why Latinas and Eating Disorders Matter
                        </p>
                        <a href="https://boldlatina.com/my-journey-and-why-latinas-and-eating-disorders-matter/" class="btn btn-info">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              </main>


          <!-- Bottom Section -->
          <!-- <main id="main">
            <section>
              <div class="container" data-aos="fade-up">
                <div class="row">
                  <div class="col-lg-12 text-center mb-5">
                    <h1 class="page-title">Stories of Recovery</h1>
                  </div>
                </div>
        
                <div class="row mb-5">
        
                  <div class="d-md-flex post-entry-2 half">
                    <a href="#" class="me-4 thumbnail">
                      <img src="imgs/aboutimg/resources1.jpg" alt="" class="img-fluid">
                    </a>
                    <div class="ps-md-5 mt-4 mt-md-0"> -->
                      <!-- <div class="post-meta mt-4">About us</div>
                      <h2 class="mb-4 display-4">Company History</h2> -->
                      <!-- <p>
                        🌻 Giving Up on a Perfect Recovery Actually Helped Me Heal From My Eating Disorder
                        <a href="https://www.buzzfeednews.com/article/addybaird/eating-disorder-recovery-definition">Read More</a>
                      </p>
                      <p>
                        🌻 Young, professional,male - and living with an eating disorder
                          <a href="https://www.eatingdisorders.org.au/story/young-professional-male-and-living-with-an-eating-disorder/">Read More</a>
                        </p>
                        <p>
                          🌻 Putting binge eating behing me
                          <a href="https://www.eatingdisorders.org.au/story/carols-recovery-from-binge-eating-disorder/">Read More</a>
                        </p>
                      -->
        
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
                      <p>Fugit eaque illum blanditiis, quo exercitationem maiores autem laudantium unde excepturi dolores quasi eos vero harum ipsa quam laborum illo aut facere voluptates aliquam adipisci sapiente beatae ullam. Tempora culpa iusto illum accusantium cum hic quisquam dolor placeat officiis eligendi.</p> -->
                    <!-- </div>
                  </div>
        
                  <div class="d-md-flex post-entry-2 half mt-5">
                    <a href="#" class="me-4 thumbnail order-2">
                      <img src="imgs/aboutimg/resources2.jpg" alt="" class="img-fluid">
                    </a>
                    <div class="pe-md-5 mt-4 mt-md-0">
                      <p>
                        🌻 Battling Bulimia
                        <a href="https://keltyeatingdisorders.ca/generalinformation/stories/saras-story/">Read More</a>
                      </p>
                      <p>
                        🌻 10 people who have Dealt With Eating Disorders Share What Recovery Looks Like for Them
                          <a href="https://www.self.com/story/eating-disorder-recovery-real-people-stories">Read More</a>
                        </p>
                        <p>
                          🌻 My  Journey and why Latinas and Eating Disorders Matter
                          <a href="https://boldlatina.com/my-journey-and-why-latinas-and-eating-disorders-matter/">Read More</a>
                        </p> -->
                      <!-- <div class="post-meta mt-4">Mission &amp; Vision</div>
                      <h2 class="mb-4 display-4">Mission &amp; Vision</h2> -->
        
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
                      <p>Fugit eaque illum blanditiis, quo exercitationem maiores autem laudantium unde excepturi dolores quasi eos vero harum ipsa quam laborum illo aut facere voluptates aliquam adipisci sapiente beatae ullam. Tempora culpa iusto illum accusantium cum hic quisquam dolor placeat officiis eligendi.</p> -->
                    </div>
                  </div>
        
                </div>
        
              </div>
            </section>
          </main>
          
<!-- Footer -->
<%- include('partials/footer') -%>